<form action="/import"
      class="form-inline"
      encType="multipart/form-data"
      method="post">
    <div class="form-group">
        <label for="importFile">Upload File</label>
        <input type="file" class="form-control" id="importFile" name="importFile">
    </div>
    <button type="submit" class="btn btn-default">Upload</button>
</form>