<body>
<form ref='uploadForm'
      id='uploadForm'
      action='/import'
      method='post'
      encType="multipart/form-data">
    <input type="file" name="importFile"/>
    <input type='submit' value='Upload!'/>
</form>