<div class="col-md-6 col-md-offset-3">
    <table class="table table-striped">
        <thead>
        <tr class="row">
            <th class="col-md-3">Category</th>
            <th class="col-md-3">Amount</th>
        </tr>
        </thead>
        <tbody>
        {{#each rows}}
            <tr class="row">
                <td class="col-md-6">{{category}}</td>
                <td class="col-md-6">{{amount}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>